<section class="py-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8">
                <h2 class="mb-4">About</h2>
                <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quod beatae ullam
                    enim repellendus a in voluptatibus obcaecati non autem tempora provident, velit maiores accusamus
                    quibusdam saepe suscipit! Illo, aliquid!</p>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-4">
                <img src="assets/img/avatar.png" class="rounded-circle mb-3 imgAbout" alt="Dev">
                <h5 class="nombre">Facundo Gallarreta</h5>
                <p>CEO</p>
            </div>
        </div>
    </div>
</section>