<h3 class="bg-success p-2 text-white bg-gradient">Lista de Articulos</h3>
<table class="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Nombre Articulo</th>
            <th>Tamaño</th>
            <th>Precio</th>
            <th>Compra</th>

        </tr>
    </thead>
    <tbody>
        @for (article of articles; track article.name) {
        <tr [ngClass]="{'sinStock': !article.stock}">
            <td><img [src]="article.image" [alt]="article.name" class="resized-image"></td>
            <td>{{article.name}}</td>
            <td>{{article.size}}</td>
            <td>{{article.price | currency}} </td>
            @if (article.stock==0){
            <td>Sin Stock </td>
            }@else if(article.stock>0){
            <td><app-input-integer [(quantity)]="article.quantity" [max]="article.stock"></app-input-integer>
                <button class="btn btn-primary btn-sm" (click)="addToCart(article)">Añadir al carrito</button>
            </td>
            }

        </tr>
        }
    </tbody>
</table>